
.settings-form-emoji-container {
    margin-top: 12px;
}

.settings-form-save-button {
    margin-top: 12px;
    width: 100%;
}

.ton-info {
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
}

